body{
    margin-top: 0;
    height: 2500px;
    /* Add your background pattern here */
    background-color: #313131;
    background-image: radial-gradient(circle, rgb(85, 187, 250), rgb(0,98,155), rgba(255, 255, 255, 0.171) 3px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px
}

.section-header{
    color: white;
    font-family: Roboto, Arial;
    font-weight: 700;
    font-size: 50px;
    margin-left: 30px;
}

.menu-bar{
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    background-color: rgb(85, 187, 250);
    border: solid;
    border-color:white;
    border-radius: 50px;
    position: fixed;
    left: 60px;
    top: 15px;

  
}

.right-menu-section{
    display: flex;
    height: 100px;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
}

.menu-button{
    font-family: Oswald, Arial;
    color: rgb(0,98,155);
    text-decoration: none;
    font-size: 50px;
    margin-left: 50px;
}

.menu-button:hover{
    color: white;
    text-decoration: underline;
}


.left-menu-section{
    height: 100px;
    width: 120px;
    margin-right: 900px;
}

.logo{
    height: 80px;
    margin-left: 20px;
    margin-top: 10px;
}

.welcome{
    margin-top: 250px;
    margin-left: 80px;
}

.welcome-message{
    background-color: rgb(48, 48, 48);
    height: 450px;
    border: solid;
    border-width: 5px;
    border-radius: 100px;
    border-color: rgb(0, 166, 255);
    width: 700px;
    display: inline-block;
    vertical-align: middle;
}

.welcome-message:hover{
    border-color: white;
}

.welcome-paragraph{
    margin-left: 50px;
    display: inline-block;
    vertical-align: middle;
}

.welcome-p1{
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 20px;
    background-color: rgb(48, 48, 48);
    height: 450px;
    border: solid;
    border-width: 5px;
    border-radius: 100px;
    border-color: rgb(0, 166, 255);
    width: 700px;
    margin-bottom: 50px;
    color: rgb(0, 166, 255);
    font-family: Roboto, Arial;
    font-size: 24px;
}

.welcome-p1:hover{
    border-color: white;
}

.welcome-p2:hover{
    border-color: white;
}

.welcome-p2{
    background-color: rgb(48, 48, 48);
    height: 450px;
    border: solid;
    border-width: 5px;
    border-radius: 100px;
    border-color: rgb(0, 166, 255);
    width: 700px;
    color: rgb(0, 166, 255);
    font-family: Roboto, Arial;
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 20px;
    font-size: 24px;
}

.writing{
    font-family: Roboto, Arial;
    color: rgb(0, 166, 255);
    font-size: 50px;
    font-weight: 700;
}

.p1{
    margin-left: 245px;
}

.p2{
    margin-left: 270px;
}

.p3{
    margin-left: 200px;
}

.social{
    width: 50px;
    height: 50px;
    border: solid;
    border-radius: 25px;
    border-color: white;

}

.social-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
}


.social-button{
    color: white;
    background-color: white;
    border: solid;
    border-radius: 25px;
    border-color: rgb(0,98,155);
    cursor: pointer;
}

.social-button:hover{
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.171);
}


.about-section{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
}
  